:root {
    --main-color: #7B16F7;
    --logo-color: #7EE9F0;
}
* {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--main-color);
}

.bg-logo {
    background-color: var(--logo-color);
    height: 40px;
    width: 40px;
}

.logo {
    color: white;
    height: 26px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search{
    background-color: #D9D9D9;
}

.subscribe{
    background-color: rgb(255, 230, 0);
    color : black;
    border: none;
}

/* .subscribe:hover{
    background-color: yellow;
    color: black;
} */


.mentions{
    text-decoration: none;
    color: #fff;
}
